<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    <link href="/Content/dashboard.css" rel="stylesheet" />
    <link href="/Content/enscroll.css" rel="stylesheet" />

    <script src="/Scripts/modernizr-2.6.2.js"></script>

    <script src="/Scripts/jquery-1.10.2.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Data Explorer</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.Action("Platforms","Home")
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li>
                        @Html.Action("Form","Impersonate")
                    </li>
                    <li>@Html.ActionLink("Column Manager", "Index", "ColumnManager")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody() 
    </div>

    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>    
    @RenderSection("scripts", required: false)
    

    <script src="/Scripts/enscroll.js"></script>

<script>
    $(document).ready(function() {
        $('.enscroll').enscroll({
            showOnHover: true,
            verticalTrackClass: 'track3',
            verticalHandleClass: 'handle3',
            zIndex: 1000
        }); 
    });
</script>
</body>
</html>
